<div id="top">
<h1 id="title">株式会社中高田　営業データベース</h1>

<div id="menu">
  <p>
    <span class="btn" ><%= link_to "営業リスト", histories_path %></span>
  </p>

  <p>
    <span class="btn" ><%= link_to "新規営業履歴", 'histories/new' %></span>
  </p>

  <p>
    <span class="btn" ><%= link_to "顧客リスト", customers_path %></span>
  </p>

  <p>
    <span class="btn" ><%= link_to "新規顧客", 'customers/new' %></span>
  </p>
</div>
</div>