// Place all the styles related to the home_index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.material-icons.md-48 {
  font-size: 135px;
}

.demo-card-event.mdl-card {
  width: auto;
  height: 256px;
  margin: 0 auto 0 auto;
  background: #40c4ff;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
  margin: 0 auto;
}

#icon {
  margin: 0 auto;
}

.mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect a {
  color: #fff;
}