

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
}
table th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 3px solid #263238;
  color: #fff;
  background: #607d8b;
}
table td {
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #263238;
  background: #eee;
}

.mdl-layout__header-row span a{
  color: #FFF;
  text-decoration: none;
}


* {
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.mdl-card__actions.mdl-card--border a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

#newsave {
  margin-left: 10px;
  text-align: center;
}

.demo-card-event.mdl-card {
    background: #039de5;
}